*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
background-image: linear-gradient(to right top, #f2dcfb, #e7dfff, #dbe2ff, #d1e5ff, #c8e7ff);    height: 100%;
    width: 100%;
}
/* --------------------- Header ------------------------------------ */
.header{
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 15%;
    color: Black;
    text-align: center;
}
/* --------------------- Variables globales ------------------------------------ */
.global_container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-title{
    padding-top: 15PX;
    padding-bottom: 5px;
}

.data{
    background-color: white;
    flex-grow: 1;
    border-radius: 15px;
    text-align: center;
    margin: 10px 50px;
    box-shadow: 8px 8px 12px #aaa;
    padding-bottom: 15px;

}


/* --------------------- grosse boîte ------------------------------------ */

.bbody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
/* --------------------- partie gauche ------------------------------------ */

.dropdown{
    background-color: white;
    flex-grow: 1;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 8px 8px 12px #aaa;
    padding-bottom: 20px;
}
.menu-title{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.texte{
    padding-top: 20px;
    padding-bottom: 10px;
}
.chiffre{
    font-size: 20px;
}
/* --------------------- partie droite ------------------------------------ */
.droite{
    flex-grow:3;
}
/* --------------------- graphes du dessus ------------------------------------ */

.graphs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card2{
    background-color: white;
    box-shadow: 8px 8px 12px #aaa;
     flex-grow: 1;
    border-radius: 15px 15px 15px 15px;
    margin: 10px;
    text-align: center;
}

.card1{
    background-color: white;
     flex-grow: 1;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 8px 8px 12px #aaa;
    margin: 10px;
    text-align: center;
}

/* --------------------- map ------------------------------------ */

.map_container {

    border-radius: 15px;
}
